@font-face {
  font-family: "Franklin", "Hp", "Hp-light";
  src: url("../fonts/franklin-gothic-book.ttf") format("truetype");
  src: url("../fonts/HPSimplifiedregular.ttf") format("truetype");
  src: url("../fonts/HPSimplifiedregular.woff") format("woff");
  src: url("../fonts/HPSimplifiedregular.woff2") format("woff2");
  src: url("../fonts/HPSimplifiedlight.ttf") format("truetype");
  src: url("../fonts/HPSimplifiedlight.woff") format("woff");
  src: url("../fonts/HPSimplifiedlight.woff2") format("woff2");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: 
[class*="col-"] {
    width: 100%;
  }*/
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

body {
  font-family: "Franklin", sans-serif;
  background: #FAFAFA;
  position: relative;
  color: #000000;
}

body main {
  padding: 0 !important;
  display: block;
}

.main {
  padding: 0px 50px;
  width: 100%;
}

.acc {
  padding: 0px 35px;
}

.container {
  padding: 0;
  width: 960px;
}

.content {
  position: relative;
  z-index: 0;
  width: 960px;
  margin: 0 auto;
  background: #ffffff;
}

.content .header-title h1 {
  font-family: "Hp", sans-serif;
  text-align: center;
  font-weight: normal;
}

.content .header-title p {
  font-family: "Hp-light", sans-serif;
  text-align: left;
  line-height: 35px;
  font-size: 24px;
  font-weight: normal;
}

.content .small {
  font-size: 20px;
  font-family: "Hp-light", sans-serif;
  font-style: italic;
}

.content .small span {
  color: #D2380E;
}

.accordion {
  padding: 0px;
  width: 100%;
  background-color: #E8E8E8;
  cursor: pointer;
  display: inline-block;
  border: none;
  text-align: left;
  outline: none;
  line-height: 35px;
  font-size: 24px;
  font-weight: normal;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #0096D6;
}

.accordion:after {
  content: 'EDIT';
  background-color: #767676;
  color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  float: right;
  margin: 10px 15px 10px 15px;
  padding: 8px 40px 6px 40px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.section--progressbar {
  counter-reset: step;
  display: table;
  margin: 50px auto 35px;
  padding: 0;
}

.section--progressbar li {
  list-style-type: none;
  display: table-cell;
  padding: 0;
  width: 350px;
  line-height: 35px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Hp-light", sans-serif;
  position: relative;
  text-align: center;
  color: #767676;
}

.section--progressbar li:after {
  width: 20px;
  height: 20px;
  content: counter(step);
  counter-increment: step;
  line-height: 18px;
  display: block;
  margin: 20px auto 10px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  font-display: none;
  background-color: #767676;
}

/*
.section--progressbar li:before{
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    background: $white;
    top: 9px;
    left: -50%;
    z-index: -1;
}
*/
.section--progressbar li:first-child:before {
  content: none;
}

.section--progressbar li.is-filled {
  color: #767676;
}

.section--progressbar li.is-filled:after {
  background-color: #767676;
}

.section--progressbar li.is-active {
  color: #0096D6;
}

.section--progressbar li.is-active:after {
  font-display: none;
  background-color: #0096D6;
}

/*------ create -------*/
.section--progressbar li.is-filled {
  color: #767676;
}

.section--progressbar li.is-filled a, .section--progressbar li.is-filled a:hover {
  color: #767676;
}

.section--progressbar li.is-filled:after {
  background-color: #767676;
}

.section--progressbar li.is-active {
  color: #0096D6;
}

.section--progressbar li.is-active:after {
  border-color: #0096D6;
}

.btn {
  margin-top: 5px;
  color: #ffffff;
  font-size: 18px;
  padding: 6px 20px 6px 20px;
  line-height: 28px;
  cursor: pointer;
}

.btn:active, .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #D2380E;
  border: 0;
  width: 140px;
  margin-right: 20px;
}

.btn-primary:hover {
  background-color: #D2380E;
}

.btn-submit {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #0096D6;
  border: 0;
  width: 160px;
  margin-right: 20px;
}

.btn-download {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #0096D6;
  border: 0;
  width: 380px;
  margin-right: 20px;
  font-family: "Hp-light", sans-serif;
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;
}

.register {
  font-size: 20px;
  counter-reset: step;
}

.accordion:before {
  display: inline-block;
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 26px;
  margin: 18px 15px 18px 20px;
  padding-top: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #0096D6;
  border-color: #0096D6;
  color: #ffffff;
  text-align: center;
}

/*------ create ebid -------*/
.accordion .is-filled {
  color: #767676;
}

.accordion .is-filled:after {
  background-color: #767676;
}

/*------ create -------*/
.accordion .is-filled {
  color: #767676;
}

.accordion .is-filled a, .accordion .is-filled a:hover {
  color: #767676;
}

.accordion .is-filled:after {
  background-color: #767676;
}

.hole {
  border: 1px solid #E8E8E8;
  background-clip: border-box;
  padding: 0;
}

.hole span {
  color: #D2380E;
}

.hole .head {
  margin: 0px;
  color: #ffffff;
  text-align: left;
  padding: 5px;
  counter-reset: step;
  display: block;
  background-color: #0096D6;
  padding-left: 10px;
}

.hole .head:before {
  display: inline-block;
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 26px;
  margin: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #ffffff;
  border-color: #0096D6;
  color: #0096D6;
  text-align: center;
}

.hole .body {
  margin: 40px 40px 0 40px;
  display: block;
}

.hole .body input {
  font-family: "Hp-light", sans-serif;
  font-size: 18px;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
}

.hole .body select {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.hole .foot {
  background-color: #E8E8E8;
}

.float-right {
  float: right;
}

.padding {
  padding: 0px 50px 0px 50px;
}

.padding-bottom {
  padding-bottom: 40px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-top {
  padding-top: 40px;
}

.margin-top {
  margin-top: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.warning {
  border-color: #D2380E;
}

.warning-title {
  background-color: #D2380E;
}

.confirm {
  background: #E8E8E8;
  padding-bottom: 20px;
}

.confirm p {
  color: #0096D6;
  font-family: "Hp-light", sans-serif;
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 20px;
}

.confirm h2 {
  font-family: "Hp", sans-serif;
  line-height: 35px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.confirm span {
  line-height: 35px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Hp-light", sans-serif;
}

#custom-text {
  margin-left: 10px;
}

.icons {
  margin-left: 20px;
}

.icons .material-icons {
  font-size: 40px;
}

#file-upload {
  display: none;
  overflow: hidden;
  height: 0;
  width: 0;
}

.upload-mask {
  padding: 10px;
  color: #ffffff;
  background-color: #0096D6;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background: #0096D6;
  max-width: 130px;
}

.upload-mask:hover {
  background-color: #D2380E;
}

.cencle {
  cursor: pointer;
}

.masthead {
  height: 460px;
}

.masthead img {
  float: left;
  position: relative;
}

.masthead .copy {
  padding-left: 55px;
}

.hp-logo {
  display: block;
  float: left;
  padding-left: 0px;
}

.hp-logo img {
  padding-top: 5px;
  padding-right: 25px;
  border-right: 2px solid gray;
}

.elogo {
  padding-right: 10px;
  padding-left: 25px;
}

.small-logo {
  padding: 0px;
}

.large-logo {
  padding: 0px;
}

.hp-para {
  padding-left: 0px;
  float: right;
}

.hp-para .title {
  margin: 0 auto;
  font-size: 38px;
}

.hp-para .body {
  margin: 0% auto;
  float: right;
  font-size: 18px;
  line-height: 22px;
}

#last {
  border: 1px solid black;
}

#last tbody {
  margin: 0;
}

#last tbody th {
  width: 200px;
  padding: 10px 10px;
  border: 1px solid black;
  background-color: #0ee1fd;
}

#last tbody td {
  border: 1px solid black;
  padding-bottom: 10px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */